@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "yekanBakh", "sans-serif";
  font-weight: 400;
}

.css-10hburv-MuiTypography-root {
  font-family: inherit !important;
  text-align: right;
}

.css-cveggr-MuiListItemIcon-root {
  min-width: 37px;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  min-width: 0 !important;
  padding: 0 !important;
}
