@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "yekanBakh", "sans-serif";
  font-weight: 400;
}

.css-10hburv-MuiTypography-root {
  font-family: inherit !important;
  text-align: right;
}
.css-yb0lig {
  margin: 0px;
  font-family: inherit !important;
  text-align: right !important;
}

.css-cveggr-MuiListItemIcon-root {
  min-width: 37px;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  min-width: 0 !important;
  padding: 0 !important;
}

.style-hero-section {
  @apply bg-hero-section md:h-[695px] bg-cover bg-center bg-no-repeat w-full relative before:bg-black/80 before:w-full before:h-full before:absolute flex items-center justify-around rounded-tl-[10px] md:rounded-tl-[30px] rounded-tr-[10px] md:rounded-tr-[30px] rounded-br-[60px] md:rounded-br-[160px] rounded-bl-[10px] md:rounded-bl-[30px] overflow-hidden flex-col mt-4 md:mx-0 py-5;
}
